@mixin white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

.banner {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: var(--sponsor-height);
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before,
    &::after {
        @include white-gradient;
        content: '';
        height: var(--sponsor-height);
        position: absolute;
        width: 5%;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .track {
        display: flex;

        & div {
            height: var(--sponsor-height);
            width: var(--sponsor-width);
        }
    }
}
